.section-header {
  position: absolute;
  top: 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;

    @include for-size(mobile-only) {
      padding-top: 6px;
    }

    @include for-size(tablet) {
      padding-top: 37px;
    }
  }
}
