.section-hero {
  background-color: $background-pink;

  .container {
    padding-top: 193px;
    padding-bottom: 160px;

    background-image: url(../images/hero/mobile/mobile_icecream_1x.png),
      url(../images/hero/mobile/mobile_ellips_1x.png);

    background-repeat: no-repeat;
    background-position: 117px 92px, 36px 83px;
    background-size: 171px 410px, 346px 344px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/mobile/mobile_icecream_2x.png),
        url(../images/hero/mobile/mobile_ellips_2x.png);
    }

    @include for-size(tablet) {
      padding-top: 102px;
      padding-bottom: 28px;

      background-image: url(../images/hero/tablet/tablet_icecream_1x.png),
        url(../images/hero/tablet/tablet_girl_1x.png),
        url(../images/hero/tablet/tablet_ellips_1x.png);

      background-position: bottom right 228px, bottom right 28px,
        top 34px right 132px;
      background-size: 143px 336px, 168px 133px, 324px 322px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/hero/tablet/tablet_icecream_2x.png),
          url(../images/hero/tablet/tablet_girl_2x.png),
          url(../images/hero/tablet/tablet_ellips_2x.png);
      }
    }

    @include for-size(desktop) {
      padding-top: 171px;
      padding-bottom: 45px;

      background-image: url(../images/hero/desktop/desktop_icecream_1x.png),
        url(../images/hero/desktop/desktop_girl_1x.png),
        url(../images/hero/desktop/desktop_ellips_1x.png);

      background-position: bottom right 228px, bottom right 28px,
        top 34px right 132px;
      background-size: 236px 557px, 293px 232px, 538px 538px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/hero/desktop/desktop_icecream_2x.png),
          url(../images/hero/desktop/desktop_girl_2x.png),
          url(../images/hero/desktop/desktop_ellips_2x.png);
      }
    }
  }
}

.hero-box {
  display: flex;
  justify-content: space-between;

  @include for-size(tablet) {
    margin-bottom: 20px;
  }
}
.hero-box__left {
  @include for-size(desktop) {
    margin-left: 95px;
  }
}
.hero-box__title {
  width: 218px;
  margin-bottom: 20px;

  font-family: 'Titan One', cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.153;

  text-transform: uppercase;
  color: $white-color;

  @include for-size(tablet) {
    width: 162px;

    font-size: 22px;
    line-height: 1.136;
  }
  @include for-size(desktop) {
    width: 277px;
    margin-bottom: 25px;

    font-size: 38px;
    line-height: 1.157;
  }
  .hero-box__span {
    font-size: 48px;
    line-height: 0.965;
    color: $accent-color;

    @include for-size(tablet) {
      font-size: 34px;
      line-height: 0.905;
    }
    @include for-size(desktop) {
      font-size: 58px;
    }
  }
}

.hero-box__right {
  display: none;

  @include for-size(tablet) {
    display: block;
  }
}

.hero-box__text {
  position: relative;
  z-index: 2;
  padding-right: 8px;

  font-family: 'Titan One', cursive;
  font-size: 28px;
  line-height: 1.142;
  text-transform: uppercase;
  text-align: right;
  color: $accent-color;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: $white-color;
    border-radius: 50%;

    transform: translateY(-10%);
  }

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}
.hero-box__label {
  display: block;

  font-family: 'DM Sans', sans-serif;
  font-size: 8px;
  line-height: 1.25;
  text-transform: lowercase;
  color: $white-color;
}

.hero-info {
  display: none;

  @include for-size(tablet) {
    display: flex;
  }
  @include for-size(desktop) {
    margin-left: 57px;
  }
}
.hero-info__img {
  width: 124px;
  height: 126px;

  @include for-size(desktop) {
    width: 188px;
    height: 191px;
  }
}
.hero-info__content {
  padding-top: 47px;
  max-width: 114px;

  @include for-size(desktop) {
    padding-top: 56px;
    max-width: 200px;
    margin-left: 30px;
  }
}
.hero-info__text {
  font-size: 8px;
  line-height: 1.5;
  color: $white-color;

  margin-bottom: 7px;

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.4;

    margin-bottom: 25px;
  }
}

.hero-info__link {
  display: block;
  width: 18px;
  height: 18px;
  background-color: $white-color;
  border-radius: 50%;

  @include for-size(desktop) {
    width: 26px;
    height: 26px;
  }
}
