<section class="gallery-section">
        <picture class="stats-gallery">
            <source srcset="./images/desktop_photogallery_1x.jpg 1x, ./images/desktop_photogallery_2x.jpg 2x"
                media="('min-width: 1280px')">
            <source srcset="./images/tablet_photogallery_1x.jpg 1x, ./images/tablet_photogallery_2x.jpg 2x"
                media="('min-width: 740px')">
            <source srcset="./images/mobile_photogallery_1x.jpg 1x, ./images/mobile_photogallery_2x.jpg 2x"
                media="('max-width: 739px')">
            <img class="stats-gallery__img" src="./images/desktop_photogallery_1x.jpg" alt="Фото от наших клиентов" width="1280">
        </picture>
</section>