<header class="section-header">
    <div class="container">
        <a href="" class="logo-link">
            <img src="./images/icons/logo.png" alt="Лого сайта" class="logo-img">
        </a>
        <nav class="site-nav">
            <ul class="site-menu">
                <li class="site-menu__item"><a href="" class="site-menu__link is-active">Home</a></li>
                <li class="site-menu__item"><a href="" class="site-menu__link">About us</a></li>
                <li class="site-menu__item"><a href="" class="site-menu__link">How it`s made?</a></li>
                <li class="site-menu__item"><a href="" class="site-menu__link">Our products</a></li>
                <li class="site-menu__item"><a href="" class="site-menu__link">Contact</a></li>
            </ul>
            <div class="mobile-nav" data-menu id="mobile-menu">
                <ul class="mobile-menu" >
                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">About us</a></li>
                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Home</a></li>
                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">How it`s made?</a></li>
                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Our products</a></li>
                    <li class="mobile-menu__item"><a href="" class="mobile-menu__link">Contact</a></li>
                </ul>
            </div>
        </nav>
        <button class="btn-menu" type="button" data-menu-button aria-expanded="false" aria-controls="mobile-menu">
            <svg class="btn-menu__icon">
                <use href="./images/icons/sprite.svg#burger"></use>
            </svg>
        </button>
        <button type="button" class="btn-buy">Buy now
        <img class="btn-buy__icon" src="./images/icons/vector.svg" alt="свг стрелка">
        </button>
    </div>
</header>