<section class="section-hero">
    <div class="container">
        <div class="hero-box">
            <div class="hero-box__left">
                <h1 class="hero-box__title">
                    Ice cream made with <span class="hero-box__span">passion</span>
                </h1>
                <a href="#" class="hero-box__link">Products</a>
                <a href="#" class="hero-box__link">How it`s made</a>
            </div>
            <div class="hero-box__right">
                <p class="hero-box__text">16 <span class="hero-box__label">cafes</span></p>
                <p class="hero-box__text">23 <span class="hero-box__label">foodtrucks</span></p>
            </div>
        </div>
        <div class="hero-info">
            <picture class="hero-info__img">
                <source srcset="./images/hero/desktop/desktop_milk_1x.png 1x, ./images/hero/desktop/desktop_milk_2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/hero/tablet/tablet_milk_1x.png 1x, ./images/hero/tablet/tablet_milk_2x.png 2x" media="(min-width: 740px)">
                <img src="./images/hero/desktop/desktop_milk_1x.png" alt="Кувшин еко молока" width="188">
            </picture>
            <div class="hero-info__content">
                <p class="hero-info__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a href="#" class="hero-info__link">
                    <img src="./images/icons/arrow-right.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>