<section class="stats-section">
    <div class="container">
        <ul class="stats-list">
            <li class="stats-list__item">
                <p class="stats-list__text">721</p>
                <p class="stats-list__sub-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="stats-list__item">
                <p class="stats-list__text">16kg</p>
                <p class="stats-list__sub-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="stats-list__item">
                <p class="stats-list__text">84</p>
                <p class="stats-list__sub-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>