<section class="tradition-section">
    <div class="container">
        <p class="tradition__sub-title">
            tradition and love
        </p>
        <h2 class="tradition__title">
            how it’s made?
        </h2>
        <div class="tradition__flexbox">
            <picture class="tradition__img">
                <source srcset="./images/desktop_cow_1x.png 1x, ./images/desktop_cow_2x.png 2x" media="('min-width: 1280px')">
                <source srcset="./images/tablet_cow_1x.png 1x, ./images/tablet_cow_2x.png 2x" media="('min-width: 740px')">
                <source srcset="./images/mobile_cow_1x.png 1x, ./images/mobile_cow_2x.png 2x" media="('max-width: 739px')">
                    <img src="./images/desktop_cow_1x.png" alt="Кувшин молока" width="516">
            </picture>
            <div class="tradition__box">
                <p class="tradition__text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <div class="tradition__content">
                    <p class="tradition__sub-text">
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    </p>
                    <p class="tradition__sub-text">
                        Aliquam erat volutpat. Aenean accumsan.
                    </p>
                </div>
                
                <a href="#" class="tradition__btn-link">Read more
                    <img class="btn__icon" src="./images/icons/vector.svg" alt="Иконка узнать больше">
                </a>
            </div>
        </div>
    </div>
</section>