.button {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

.btn-menu {
  @extend .button;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: transparent;

  @include for-size(tablet) {
    margin-left: auto;
  }
}
.btn-menu__icon {
  width: 44px;
  height: 44px;
  fill: $accent-color;
}

.btn-buy {
  @extend .button;
  display: none;

  height: 44px;
  width: 209px;
  color: $accent-color;

  background-color: $white-color;
  border-radius: 22px;

  @include for-size(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    margin-left: 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }

  .btn-buy__icon {
    margin-left: 12px;
    height: 10px;
  }
}
