.hero-box__link {
  display: inline-flex;
  height: 24px;
  align-items: center;
  justify-content: center;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: normal;

  border-radius: 20px;
  outline: none;

  &:nth-child(2) {
    margin-right: 8px;
    width: 62px;

    background-color: $accent-color;
    color: $white-color;

    @include for-size(desktop) {
      width: 104px;
    }

    &:hover,
    &:focus {
      background-color: $button-primary-hover;
      border: 1px solid $white-color;
    }
  }
  &:nth-child(3) {
    width: 83px;

    background-color: $white-color;
    color: $accent-color;

    @include for-size(desktop) {
      width: 138px;
    }

    &:hover,
    &:focus {
      background-color: $button-secondary-hover;
      border: 1px solid $accent-color;
    }
  }

  @include for-size(desktop) {
    width: 104px;
    height: 40px;

    font-size: 14px;
    line-height: 1.28;
  }
}
